#exon .special_rect_tooltip {
    visibility: hidden;
}

#exon:hover .special_rect_tooltip {
    visibility: visible;
}

#exon:hover rect{
    opacity: 1.0
}

.special_rect_tooltip text {
    fill: yellow;
    font-size: 11px;
    font-family: sans-serif;
}
.special_rect_tooltip rect {
    fill: teal;
    stroke: blue;
}
